-- Performance Indexes for RLS
CREATE INDEX IF NOT EXISTS idx_users_org ON public.users(organization_id);
CREATE INDEX IF NOT EXISTS idx_landing_pages_org ON public.landing_pages(organization_id);
CREATE INDEX IF NOT EXISTS idx_landing_pages_published ON public.landing_pages(is_published) WHERE is_published = true;
CREATE INDEX IF NOT EXISTS idx_team_invitations_org ON public.team_invitations(organization_id);
CREATE INDEX IF NOT EXISTS idx_landing_page_scans_org ON public.landing_page_scans(organization_id);

-- Additional performance indexes
CREATE INDEX IF NOT EXISTS idx_users_clerk_id ON public.users(clerk_id);
CREATE INDEX IF NOT EXISTS idx_landing_pages_slug ON public.landing_pages(slug);
CREATE INDEX IF NOT EXISTS idx_organizations_slug ON public.organizations(slug);

-- Verify indexes were created
SELECT 
  schemaname,
  tablename,
  indexname,
  indexdef
FROM pg_indexes 
WHERE schemaname = 'public' 
  AND tablename IN ('users', 'landing_pages', 'organizations', 'team_invitations', 'landing_page_scans')
ORDER BY tablename, indexname;
